
body{
    background-color: rgb(128, 128, 128);
    background-image: url("../img/foto5.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.cont-portada{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
    padding: 50px;
}

.cont-portada .portada{
    width: 30%;
    padding-top: 4rem;
    color: white;
}


#text1{
    font-size: 3rem;
}
#text2{
    font-size: 2.45rem;
}
#text3{
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.cont-portada .portada button{
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
}

.cont-portada .portada button:hover{
    background-color: rgb(62, 178, 255);
    color: white;
   transition: .25s;
}

div.show-ventana{

    left: 0;
    top: 0;
    transition: .35s;
    opacity: 1;
}

/***********************/


.cont-login{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.885);
    width: 100vw;
    height: 100vh;
    
    top: -100vh;
    opacity: 0;
}

.cont-login .marco{
    display: flex;

    width: 60%;
    height: 60%;
    /*border: 1px solid black;*/
    box-shadow: 4px 1px 20px rgba(0, 0, 0, 0.487);
}

.cont-login .cont-head{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
}

.cont-login .cont-head button{
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cont-login .cont-head button:hover{
    background-color: rgb(54, 54, 54);
    color: white;
}

.cont-login .cont-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(62, 178, 255);
    
}

.cont-login .cont-back{
    width: 50%;
    height: 100%;
    background-image: url("../img/foto2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 350px;
    height: 100%;
    margin-bottom: 3rem;
    align-items: center;
}

.cont-login form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cont-login form input{
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.493);
}

.cont-login form button{
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 5px 10px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cont-login form a{
    text-decoration: none;
    color: white;
}

/***********************/

.cont-register{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.885);
    width: 100vw;
    height: 100vh;

    top: 100vh;
    opacity: 0;
}

.cont-register .marco{
    display: flex;
    
    background-color: rgb(223, 223, 223);
    width: 60%;
    height: 80%;
    /*border: 1px solid black;*/
    box-shadow: 4px 1px 20px rgba(0, 0, 0, 0.487);
}

.cont-register .cont-head{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
}

.cont-register .cont-head button{
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cont-register .cont-head button:hover{
    background-color: rgb(54, 54, 54);
    color: white;
}

.cont-register .cont-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(62, 178, 255);
}

.cont-register .cont-back{
    width: 50%;
    height: 100%;
    background-image: url("../img/foto3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 350px;
    height: 100%;
    margin-bottom: 3rem;
    align-items: center;
}

.cont-register form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cont-register form input{
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.493);
}

.cont-register form .input-check{
    display: flex;
    padding: 10px;
}

#check{
    margin: 0;
    width: auto;
    margin: auto;
    margin-right: 10px;
}

.cont-register form button{
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 5px 10px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cont-register form a{
    text-decoration: none;
    color: white;
}


/***********************/


.cont-contact{
    position: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.885);
    width: 100vw;
    height: 100vh;

    left: 100vw;
    opacity: 0;
}

.cont-contact .marco{
    display: flex;
    
    background-color: rgb(223, 223, 223);
    width: 60%;
    height: 80%;
    /*border: 1px solid black;*/
    box-shadow: 4px 1px 20px rgba(0, 0, 0, 0.487);
}

.cont-contact .cont-head{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
}

.cont-contact .cont-head button{
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cont-contact .cont-head button:hover{
    background-color: rgb(54, 54, 54);
    color: white;
}

.cont-contact .cont-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(62, 178, 255);
}

.cont-contact .cont-back{
    width: 50%;
    height: 100%;
    background-image: url("../img/foto4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 350px;
    height: 100%;
    margin-bottom: 3rem;
    align-items: center;
}

.cont-contact form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cont-contact form input{
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.493);
}

.cont-contact form textarea{
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.493);
}

.cont-contact form button{
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 5px 10px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.cont-contact form .data-icon p{
    font-size: .8rem;
}

